#compass {
  width: 380px;
  height: 380px;
  background-image:url('/assets/icons/iconmonstr-compass-6-icon.svg');
  background-size: 100% auto;
  position: relative;
}


#compass:hover #arrow {
  -webkit-transform:rotate(0deg);
  -moz-transform:rotate(0deg);
  -o-transform:rotate(0deg);
  -ms-transform:rotate(0deg);
}

#navdata {
        font-size: xx-large;
        color: black;
}
