@font-face {
  font-family: "Clear Sans";
  src: url(/assets/fonts/clearsans/ClearSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'misc-icons';
    src:url('/assets/fonts/misc-icons.eot?-3u7zq');
    src:url('/assets/fonts/misc-icons.eot?#iefix-3u7zq') format('embedded-opentype'),
        url('/assets/fonts/misc-icons.woff?-3u7zq') format('woff'),
        url('/assets/fonts/misc-icons.ttf?-3u7zq') format('truetype'),
        url('/assets/fonts/misc-icons.svg?-3u7zq#misc-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'misc-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-qrcode:before {
    content: "\e938";
}

.icon-bubble:before {
    content: "\e96b";
}

.icon-bubbles:before {
    content: "\e96c";
}

.icon-bubbles2:before {
    content: "\e96d";
}

.icon-user:before {
    content: "\e971";
}

.icon-users:before {
    content: "\e972";
}

.icon-user-plus:before {
    content: "\e973";
}

.icon-user-minus:before {
    content: "\e974";
}

.icon-user-check:before {
    content: "\e975";
}

.icon-hf-logo:before {
    content: "\e600";
    font-size: 120%;
}

p.customfont {
  font-family: "Clear Sans", Verdana, Tahoma;
}

.usericon {
    fill: #ffffff;
}

body {
  background-color: #3a75a8;
  background-image: url('/assets/images/backdrop_texture.png');
  color: #3a75a8;
  font-family: "Clear Sans";
  padding-top: 23px;
}

.aside {
    margin-top: 51px;
}

.jumbotron {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgba(255, 255, 255, 0.35);
}

.well {
  background-color: rgba(255, 255, 255, 0.4);
}

#mainmenu {
  z-index: 100;
}


a:link,
a:visited,
a:active {
  color: #414141;
  text-decoration: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
}

a:hover {
  color: #ffffff;
  /*text-decoration: underline;*/
}


/* Space out content a bit */

html, body {
    min-height: 100%;
    height: 100%;
}

#content, #map {
    padding-top: 23px;
    height: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}


/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.menuicon {
 width: 50%;
}

#bootscreen {
    height: 95%;
    text-align: center;
    vertical-align: middle;
}

#compass {
    width: 330px;
    height: 330px;
    background-image:url('/assets/images/hackerfleet.svg');
    background-size: 100% auto;
    position: relative;
}

.vertical-center {
  min-height: 90%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 90vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}