<div>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="mainmenu">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#main-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <button id="btnhome" type="button" ng-click="$ctrl.home($event);"
                        class="navbar-brand navbar-inverse btn"
                        style="border-color: transparent; margin-left: 2px;" aria-label="Left Align"
                        title="Connection status button">
                    <span class="glyphicon icon-hf-logo"></span>
                </button>

                <button id="btnuser" type="button" ng-click="$ctrl.userbutton($event);"
                        class="hidden navbar-brand navbar-inverse btn"
                        style="border-color: transparent; margin-left:5px;"
                        aria-label="Left Align">
                    <span class="glyphicon glyphicon-user"></span>
                </button>

                <button id="btnchat" type="button" ng-click="$ctrl.chattoggle();"
                        class="hidden navbar-brand navbar-inverse btn"
                        style="border-color: transparent; margin-left:5px;" aria-label="Left Align">
                    <span class="glyphicon icon-bubble"></span>
                </button>

                <button id="btnmob" type="button" ng-click="$ctrl.mobbutton();"
                        class="pagination-centered navbar-brand navbar-inverse btn hidden"
                        style="text-align: center; border-color: transparent; margin-left:5px; color: red"
                        aria-label="Center Align">
                    <span class="fa fa-life-ring"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="main-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li id="nav-"><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
                    <li id="nav-map"><a href="#/map">Chart</a></li>
                    <li id="nav-dashboard" class="hidden"><a href="#/dashboard">Dashboard</a></li>
                    <li id="nav-weather" class="hidden"><a href="#/weather">Weather</a></li>
                    <li id="nav-crew" class="hidden"><a href="#/crew">Crew</a></li>
                    <li id="nav-logbook" class="hidden"><a href="#/logbook">Logbook</a></li>
                    <li id="nav-switchboard" class="hidden"><a href="#/switchboard">Switchboard</a></li>
                    <li id="nav-communication" class="hidden"><a href="#/communication">Communication</a></li>
                    <li id="nav-settings" class="hidden"><a href="#/obj/vessel/00000000-0000-0000-0000-000000000000">Vessel
                        settings</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Client<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>Client: <span id="clientname">N/A</span></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">?<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/docs">Documentation</a></li>
                            <li><a href="#/about">About</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>

    <div id="bootscreen" class="well vertical-center gradient">
        <div class="center-block">
            <table>
                <tr>
                    <div class="center-block">
                        <span class="center-block glyphicon icon-hf-logo hflogo"></span>
                    </div>

                    <div id="hflogo" class="hidden center"></div>
                </tr>
                <tr>
                    <div class="dark">
                        <span><h2>Starting HFOS client</h2></span>
                    </div>
                </tr>
            </table>
        </div>
    </div>

    <div id="content" class="container" ui-view></div>
    <ul>
        <li ui-sref-active="active"><a ui-sref="app.feature-a">Feature A</a></li>
        <li ui-sref-active="active"><a ui-sref="app.feature-b">Feature B</a></li>
    </ul>

    <noscript>
        <div class="well vertical-center" style="height: 100vh;">
            <style type="text/css">
                #bootscreen {
                    display: none;
                }

                #content {
                    display: none;
                }

                #mainmenu {
                    display: none;
                }
            </style>

        <span>
            <h1><span><i class="fa fa-exclamation-circle"></i></span> Javascript deactivated!</h1>
            <br/>
            <p>
                Please check your browser and plugin settings and make sure, Javascript is allowed for this site, then
                reload the page.
            </p>
        </span>
        </div>
    </noscript>


    <footer class="hidden footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <i class="fa fa-github fa-lg"></i> <a href="https://github.com/hackerfleet">Github</a>
                </div>
                <div class="col-md-6 col-sm-6">
                    <i class="fa fa-twitter fa-lg"></i> <a href="https://twitter.com/__r107__">Twitter</a>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-muted">&copy; riot@hackerfleet.org 2011-2016</p>
                </div>
            </div>
        </div>
    </footer>
</div>
