<div ng-controller="AlertCtrl">
    <div class="modal-body">
        <H2>Are you sure?</H2>

        <div class="modal-footer">
            <form>
                <button type="button" ng-click="cancelAlarm(); $modalSuccess()" class="btn btn-danger btn-large">Cancel
                    Alarm
                </button>

                <button type="button" ng-click="deactivateAlarm(); $modalSuccess()" class="btn btn-warning btn-large">
                    Silence Client
                </button>
                <button id="cancel" type="button" ng-click="$modalCancel()" class="btn btn-default btn-large">
                    Cancel
                </button>
            </form>
        </div>
    </div>
</div>
