<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>
            <div class="modal-body">
                <span>Select a file to upload</span>

                <div class="modal-footer">
                    <form>
                        <input class="form-control" type="file" name="uploadfile" id="filename">
                        <button type="submit" class="btn btn-default" ng-click="$ctrl.gdal_upload()">
                            Upload File
                        </button>

                        <button id="usercancel" type="button" ng-click="$modalCancel(); $hide()" class="btn btn-default btn-large">
                            Cancel
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
