<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" aria-label="Close" ng-click="$ctrl.close(); $hide()">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>
            <div id="login">
                <form ng-keyup="$event.keyCode == 27 && ($ctrl.close() || $hide())">
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-4">
                                <label>Username:</label>
                            </div>
                            <div class="col-md-8">
                                <input id="username" type="text" ng-model="$ctrl.username" autofocus><br/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Password:</label>
                            </div>
                            <div class="col-md-8">
                                <input id="password" type="password" ng-model="$ctrl.password"><br/>
                            </div>
                        </div>
                        <div ng-show="$ctrl.state.href('app.enrolment') !== null">
                            <div class="text-info">Don't have an account?
                                <a class="pull-right" ng-click="$hide()" href="#!/enrolment">Enrol yourself!</a></div>
                            <div class="text-info">Forgot your password or username?
                                <a class="pull-right" ng-click="$hide()" href="#!/resetaccount">Request a reset.</a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-lg btn-link" ng-click="$ctrl.close(); $hide()">Cancel</button>
                        <button type="submit" class="btn btn-lg btn-default" ng-click="$ctrl.login(); $hide()">Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
