<!doctype html>
<html class="no-js" ng-app="hfosFrontendApp">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link id="Bootstrap" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link id="BootstrapTheme" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css"/>

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/leaflet-dist/leaflet.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap-additions/dist/bootstrap-additions.css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.css"/>
    <link rel="stylesheet" href="bower_components/spectrum/spectrum.css"/>
    <link rel="stylesheet" href="bower_components/angularjs-toaster/toaster.css"/>
    <link rel="stylesheet" href="bower_components/angular-gridster/dist/angular-gridster.min.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap-css-only/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css"/>
    <link rel="stylesheet" href="bower_components/Leaflet.contextmenu/dist/leaflet.contextmenu.css"/>
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="bower_components/leaflet.locatecontrol/dist/L.Control.Locate.css"/>
    <link rel="stylesheet" href="bower_components/leaflet.fullscreen/Control.FullScreen.css"/>
    <link rel="stylesheet" href="bower_components/leaflet.vector-markers/dist/Leaflet.vector-markers.css"/>
    <!-- endbower -->
    <!-- endbuild -->

    <link rel="stylesheet" href="bower_components/leaflet.draw/dist/leaflet.draw.css"/>
    <link rel="stylesheet" href="bower_components/leaflet-mouseposition/src/L.Control.MousePosition.css"/>
    <link rel="stylesheet" href="bower_components/leaflet-pancontrol/src/L.Control.Pan.css"/>
    <link rel="stylesheet" href="bower_components/leaflet-zoomslider/src/L.Control.Zoomslider.css"/>
    <link rel="stylesheet" href="bower_components/leaflet-coordinates/dist/Leaflet.Coordinates-0.1.4.css"/>
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-controller="MainCtrl">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="mainmenu">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <button id="btnhome" type="button" ng-click="home($event);" class="navbar-brand navbar-inverse btn"
                    style="border-color: transparent;">
                <span class="icon-hf-logo"></span>
            </button>
            <button id="btnuser" type="button" ng-click="userbutton($event);"
                    class="hidden navbar-brand navbar-inverse btn" style="border-color: transparent; margin-left:5px;"
                    aria-label="Left Align">
                <span class="glyphicon glyphicon-user"></span>
            </button>
            <button id="btnchat" type="button" ng-click="chattoggle();" class="hidden navbar-brand navbar-inverse btn"
                    style="border-color: transparent; margin-left:5px;" aria-label="Left Align">
                <span class="icon-bubble"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li id="nav-"><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
                <li id="nav-dashboard"><a href="#/dashboard">Dashboard</a></li>
                <li id="nav-weather" class="hidden"><a href="#/weather">Weather</a></li>
                <li id="nav-map"><a href="#/map">Map</a></li>
                <li id="nav-crew" class="hidden"><a href="#/crew">Crew</a></li>
                <li id="nav-logbook" class="hidden"><a href="#/logbook">Logbook</a></li>
                <li id="nav-switchboard" class="hidden"><a href="#/switchboard">Switchboard</a></li>
                <li id="nav-communication" class="hidden"><a href="#/communication">Communication</a></li>
                <li id="nav-settings" class="hidden"><a href="#/settings">Settings</a></li>
                <li id="nav-about"><a href="#/about">?</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div id="bootscreen" class="well vertical-center gradient">
    <div class="center-block">
        <table>
            <tr>
                <div id="hflogo" class="center"></div>
            </tr>
            <tr>
                <div class="dark">
                    <span><h2>Starting HFOS client</h2></span>
                    <span><h3>..please wait..</h3></span>
                </div>
            </tr>
        </table>
    </div>
</div>

<div ng-view="" id="content"></div>


<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/togeojson/togeojson.js"></script>
<script src="bower_components/proj4/dist/proj4.js"></script>
<script src="bower_components/leaflet-dist/leaflet.js"></script>
<script src="bower_components/proj4leaflet/src/proj4leaflet.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
<script src="bower_components/humanize-duration/humanize-duration.js"></script>
<script src="bower_components/pickadate/lib/shadow.js"></script>
<script src="bower_components/pickadate/lib/ui-picker.js"></script>
<script src="bower_components/pickadate/lib/ui-pickadate.js"></script>
<script src="bower_components/pickadate/lib/ui-pickatime.js"></script>
<script src="bower_components/bower-angular-detector/detector.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/ngSocket/dist/ngSocket.js"></script>
<script src="bower_components/momentjs/moment.js"></script>
<script src="bower_components/angular-timer/dist/angular-timer.js"></script>
<script src="bower_components/angular-md5/angular-md5.js"></script>
<script src="bower_components/tv4/tv4.js"></script>
<script src="bower_components/objectpath/lib/ObjectPath.js"></script>
<script src="bower_components/angularjs-modal-service/src/createDialog.js"></script>
<script src="bower_components/angularjs-toaster/toaster.js"></script>
<script src="bower_components/angular-route-styles/route-styles.js"></script>
<script src="bower_components/javascript-detect-element-resize/detect-element-resize.js"></script>
<script src="bower_components/angular-gridster/src/angular-gridster.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-deckster/dist/angular-deckster.js"></script>
<script src="bower_components/ngFitTextDynamic/ng-FitTextDynamic.js"></script>
<script src="bower_components/d3/d3.js"></script>
<script src="bower_components/ngRadialGauge/src/ng-radial-gauge-dir.js"></script>
<script src="bower_components/leaflet/dist/leaflet.js"></script>
<script src="bower_components/leaflet/dist/leaflet-src.js"></script>
<script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
<script src="bower_components/leaflet.draw/dist/leaflet.draw-src.js"></script>
<script src="bower_components/leaflet-providers/leaflet-providers.js"></script>
<script src="bower_components/leaflet-omnivore/leaflet-omnivore.js"></script>
<script src="bower_components/leaflet-terminator/leaflet-terminator.js"></script>
<script src="bower_components/Leaflet.contextmenu/dist/leaflet.contextmenu-src.js"></script>
<script src="bower_components/leaflet.locatecontrol/src/L.Control.Locate.js"></script>
<script src="bower_components/leaflet.fullscreen/Control.FullScreen.js"></script>
<script src="bower_components/leaflet.vector-markers/dist/Leaflet.vector-markers.js"></script>
<script src="bower_components/L.EasyButton/easy-button.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- angular-schema-form is sadly rather picky with the order of deps and wiredep shuffles
it around all the time :/ -->

<script src="bower_components/spectrum/spectrum.js"></script>
<script src="bower_components/angular-spectrum/dist/angular-spectrum.min.js"></script>
<script src="bower_components/angular-spectrum-colorpicker/dist/angular-spectrum-colorpicker.min.js"></script>
<script src="bower_components/angular-schema-form/dist/schema-form.js"></script>
<script src="bower_components/angular-schema-form/dist/bootstrap-decorator.js"></script>
<script src="bower_components/angular-schema-form-datepicker/bootstrap-datepicker.min.js"></script>
<script src="bower_components/angular-schema-form-colorpicker/bootstrap-colorpicker.min.js"></script>
<script src="bower_components/tx-tinymce/tx-tinymce.js"></script>
<script src="bower_components/tinymce/tinymce.min.js"></script>
<script src="bower_components/angular-schema-form-tinymce/bootstrap-tinymce.min.js"></script>

<!-- angular-schema-form -->

<script src="bower_components/leaflet.Graticule/src/L.Graticule.js"></script>
<script src="bower_components/leaflet.draw/dist/leaflet.draw.js"></script>
<script src="bower_components/leaflet-MiniMap/src/Control.MiniMap.js"></script>
<script src="bower_components/leaflet-coordinates/dist/Leaflet.Coordinates-0.1.4.min.js"></script>
<script src="bower_components/leaflet.Graticule/examples/lib/proj4js-compressed.js"></script>
<script src="bower_components/leaflet-tilelayer-geojson/TileLayer.GeoJSON.js"></script>
<script src="bower_components/leaflet-zoomslider/src/L.Control.Zoomslider.js"></script>
<script src="bower_components/Leaflet.contextmenu/dist/leaflet.contextmenu.js"></script>
<script src="bower_components/leaflet-mouseposition/src/L.Control.MousePosition.js"></script>
<script src="bower_components/leaflet-pancontrol/src/L.Control.Pan.js"></script>
<script src="bower_components/leaflet-zoomslider/src/L.Control.Zoomslider.js"></script>

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/about.js"></script>
<script src="scripts/controllers/map.js"></script>
<script src="scripts/controllers/dashboard.js"></script>
<script src="scripts/services/user.js"></script>
<script src="scripts/services/socket.js"></script>
<script src="scripts/controllers/profile.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/services/mapviewservice.js"></script>
<script src="scripts/controllers/layereditor.js"></script>
<script src="scripts/services/layerservice.js"></script>
<script src="scripts/services/schemata.js"></script>
<script src="scripts/controllers/gamepadremote.js"></script>
<script src="scripts/controllers/digitalreadout.js"></script>
<script src="scripts/services/navdata.js"></script>
<!-- endbuild -->
</body>
</html>
