<form ng-controller="LoginCtrl">
    <div class="modal-body container-fluid">
        <div class="row">
            <div class="col-md-4">
                <label>Username:</label>
            </div>
            <div class="col-md-8">
                <input id="username" type="text" ng-model="username"/><br/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Password:</label>
            </div>
            <div class="col-md-8">
                <input id="password" type="password" ng-model="password"><br/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-lg" ng-click="$modalCancel()">Cancel</button>
        <button type="submit" class="btn btn-lg btn-default" ng-click="login(); $modalSuccess()">Login</button>
    </div>
</form>