<div class="well">
    <H1>This is the gamepadremote view.</H1>

    <div class="well" id="controllers">
        <H2>Controller overview</H2>
        <span id="controllerstatus" ng-bind="status"></span>
        <br/>
        <span>Remote control:</span>
        <input type="checkbox" id="cbcontrolActive" ng-model="controlActive" ng-change="toggleControl();"/>
        <span>Requested</span>
        <input type="checkbox" id="cbcontrolling" ng-model="controlling"/>
        <span>Controlling</span>
        <br/>
    </div>
</div>

