<div class="jumbotron">
    <div class="container" id="menu">
        <div class="col-md-4">
            <div class="menu-item" id="navdisplay">
                <a href="#/dashboard">
                    <img src="/assets/images/icons/iconmonstr-compass-6-icon.svg" type="image/svg+xml" class="menuicon"/>

                    <div class="menu-label">Dashboard</div>
                </a>
            </div>
            <div class="menu-item hidden" id="switchboard">
                <a href="/switchboard.html">
                    <img src="/assets/images/icons/iconmonstr-control-panel-icon.svg" type="image/svg+xml" class="menuicon"/>

                    <div class="menu-label">Switchboard</div>
                </a>
            </div>
            <div class="menu-item hidden" id="communication">
                <a href="/communication.html">
                    <img src="/assets/images/icons/iconmonstr-radio-tower-icon.svg" type="image/svg+xml" class="menuicon"/>

                    <div class="menu-label">Communication</div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="menu-item hidden" id="weather">
                <a href="/weather.html">
                    <img src="/assets/images/icons/iconmonstrandhackerfleet-weather-icon.svg" type="image/svg+xml"
                         class="menuicon"/>

                    <div class="menu-label">Weather</div>
                </a>
            </div>
            <div class="menu-item hidden" id="logbook">
                <a href="/logbook.html">
                    <img src="/assets/images/icons/iconmonstr-printer-icon.svg" type="image/svg+xml" class="menuicon"/>

                    <div class="menu-label">Logbook</div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="menu-item" id="map">
                <a href="#/map">
                    <img src="/assets/images/icons/iconmonstr-map-2-icon.svg" type="image/svg+xml" class="menuicon"/>

                    <div class="menu-label">Navigation</div>
                </a>
            </div>
            <div class="menu-item hidden" id="settings">
                <a href="#/settings">
                    <img src="/assets/images/icons/iconmonstr-wrench-4-icon.svg" type="image/svg+xml" class="menuicon"/>

                    <div class="menu-label">Settings</div>
                </a>
            </div>
            <div class="menu-item" id="gamepadremote">
                <a href="#/gamepadremote">
                    <img src="/assets/images/icons/iconmonstr-gamepad-2-icon.svg" type="image/svg+xml"
                         class="menuicon"/>

                    <div class="menu-label">Remote control</div>
                </a>
            </div>
        </div>

    </div>
</div>
