<div class="well">


    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a role="tab" ng-click="opentab('settings')" data-toggle="tab">Settings</a></li>
        <li><a role="tab" ng-click="opentab('userdata')" data-toggle="tab">Userdata</a></li>
        <!--<li><a role="tab" ng-click="opentab('client')" data-toggle="tab">Client settings</a></li> -->
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" ng-click="opentab('client')" role="button"
               aria-haspopup="true" aria-expanded="false">
                Clients <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>Client A</li>
                <li>Client B</li>
            </ul>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="settings">
            <form sf-schema="schema" sf-form="settingsform" sf-model="model" ng-submit="submitForm(model)"></form>
        </div>
        <div class="tab-pane" id="userdata">
            <form sf-schema="schema" sf-form="userdataform" sf-model="model" ng-submit="submitForm(model)"></form>
        </div>
        <div class="tab-pane" id="client">
            <span>Work in progress<!doctype html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <title>Document</title>
            </head>
            <body>

            </body>
            </html></span>
        </div>
    </div>
</div>
